<html>

</html>

<body>
    {% extends 'layout.html' %}
    {% block title %}Odjazd z przystanków{% endblock %}

    {% block content %}
    <form action="{{url_for('odjazdy_przys')}}" method="post">
        <input type="text" name="link" placeholder="link" id="link" required>
        <input type="submit" value="Sprawdź">
    </form>
    <br>
    <table border="1">
        <tr>
            <td>Przystanek</td>
            <td>Odjazd</td>
            <td>Czas przejazdu</td>

        </tr>
        {% for col in data %}
        <tr>
            <td>{{ col.nazwa }}</td>
            <td>{{ col.godzina }}</td>
            <td>{{ col.czas }}</td>
        </tr>
        {% endfor %}
    </table>
</body>
{% endblock %}